.notFound {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
.notFound h1 {
  font-size: 7.5em;
  align-items: center;
  margin: 15px 0px;
  font-weight: bold;
}
.notFound h2 {
  font-weight: bold;
}

.notFound .btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}
.notFound .btn.green {
  border: 4px solid var(--green);
  color: var(--blue);
}
.notFound .btn.green:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--green);
  z-index: -1;
  transition: 0.2s ease;
}
.notFound .btn.green:hover {
  color: var(--white);
  background: var(--green);
  transition: 0.2s ease;
}
.notFound .btn.green:hover:before {
  width: 100%;
}
