* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MuiBox-root {
  padding: 0 !important;
}

.MuiInputBase-input,
.MuiInputBase-input::placeholder {
  font-size: 12px !important;
}

.MuiButton-root {
  min-width: 10px !important;
  font-size: 12px !important;
}
